body {
    background-image:url(https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/sphe-big_fish_2003-Full-Image_GalleryBackground-en-US-1483993551937._RI_.jpg)
}
.summary {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(109,108,26);
    border: rgb(240,222,103)solid 3px;
    padding: 10px;
    width: 800px; height: 140px;
    box-sizing: border-box;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
h1 {
    text-align: center;
    font-style: italic;
    font-family: 'Sigmar One', cursive;
    color:black;
    font-size: 90px;

}

img{
    border: rgb(109,108,26) solid 3px;
    width: 150px;
    height: 200px;
}

.photo {
    text-align: center;
   
}


footer {
    position: fixed;
    font-family: 'Oswald', sans-serif;
    left: 0;
    bottom: 0;
    width: 20%;
    background-color:rgb(240,222,103);
    color:black
    text-align: center;